/* Color Primary: #d03f38 (red-ish)
 #484848 (dark grey*/

*, html
{
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a, a:hover
{
	color: #000;
}
a:focus
{
	text-decoration: none;
}
p
{
	font-family: "Open Sans",  Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6
{
	font-family: "Roboto Condensed", sans-serif;
}
a:hover
{
	text-decoration: none;
}

.active
{
	color: #d03f38;
}
.hide
{
	display: none;
}
.btn_default
{
	padding: 7px 20px;
	background: #cb3526;
	border: 1px solid transparent;
	color: #FFF;
	box-shadow: 0px 1px 2px #1b1818;
	transition: all .3s cubic-bezier(.65,-0.89,.15,1.84);
}
.btn_default:hover
{
	box-shadow: 0px 1px 5px #5a4b4b;
	transform: scale(1.1);
	color: #cb3526;
	background: #fff;
	border: 1px solid #cb3526;
}

body, #main_wrapper
{
	margin: 0 auto;
	/*margin-top: 20px;*/
	/*width: 80%;*/
	/*background-color: #484848;*/
}
/* Nav */
#btn_nav
{
	color: #fff;
	float: right;
	cursor: pointer;
	transition: all .2s ease;
	display: none;
}
#btn_nav:hover
{
	text-shadow: 0px 0px 5px #fff;
}
#page_logo
{
	width: 20%;
	margin-left: 15%;
}
.nav_wrapper
{
	list-style: none;
	background-color: #48484899;
	padding: 20px;
	border-bottom: 1px solid #666060;
	position: fixed;
	width: 100%;
	box-shadow: 0px 1px 5px #060606;
	z-index: 9999;
	transition: all .2s ease;
	text-align: center;
}
#page_nav
{
	list-style: none;
	background-color: transparent;
	/*padding: 20px;*/
}
#page_nav ul li.page_nav_btwn
{
	display:block;
}
#page_nav ul
{
	background-color: transparent;
	float: right;
	margin-right: 15%;
	margin-top: -2%;
}
#page_nav ul li
{
	display: inline;
	/*float: right;*/
	color: #FFF;
}
#page_nav ul li a
{
	display: inline;
	/*float: right;*/
	color: #FFF;
	font-family: "Roboto Condensed", sans-serif;
	padding: 10px; 
}
#page_nav ul li a.active
{
	color: #d03f38;
}
#page_nav ul li a:hover
{
	color: #d03f38;
}

/*Slider*/
#welcome_slider
{
	background-color: #484848;
	height: 500px;
	text-align: center;

	overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/slider1.jpg');
    vertical-align: middle;
}

#welcome_slider::after
{
	content: "";
	color: #fff;
	vertical-align: middle;

}

/*Main Content*/
#main_content
{
	padding-top: 30px;
}
.row
{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 70%;
	margin: 0 auto;
}

/*About Us*/
#row_about_us_img img
{
	width: 100%;
}
/*#row_about_us_content_btn
{
	padding: 10px;
	background: #cb3526;
	border: none;
	color: #FFF;
	box-shadow: 0px 1px 2px #1b1818;
	transition: all .3s ease;
}*/
/*#row_about_us_content_btn:hover
{
	box-shadow: 0px 1px 10px #5a4b4b;
}*/

/*Specialized in*/
#row_specialized_in p
{
	font-family: "Roboto Condensed", sans-serif;
}
.progress
{
	border-radius: 0;
}
.progress-bar
{
	background-color: #b11e0f;
	transition: all 1s ease-in-out;
}

/*Our Services*/
#row_our_services_container
{
	background-color: #f5f5f5;
	width: 100%;
}
#row_our_services
{
	width: 70%;
	margin: 0 auto;
}
.service_row .row
{
	width: 100%;
}
.service_row a
{
	color: #d03f38;
}
.fa
{
	font-size: 28px;
}
/*Our Works*/
#row_our_work
{
	text-align: center;
}
#row_our_work_list
{
	list-style: none;
}
#row_our_work_list li
{
	display: inline;
	padding-left: 10px;
	color: #000;
}
#row_our_work_list li a
{
	color: #000;
	font-size: 12px;
	transition: all .1s ease;
}
#row_our_work_list li a.active
{
	color: #d03f38;
}
#row_our_work_list li a:hover
{
	color: #d03f38;
}
#row_our_work .row
{
	width: 100%;

}
#row_our_work_content_container
{

}
#row_our_work_content_slider
{
	margin: 10px auto;
	position: relative;
	height: 400px;
}
.row_our_work_content_slider_img
{
	width: 80%;
	box-shadow: 0px 1px 5px #000;
	opacity: 1;
	transition: all 1s ease;
	position: relative;
	margin: 0 auto;
} 

#slide_arrow_left, #slide_arrow_right
{
	color: #b1332f;
	position: absolute;
	font-size: 45px;
	top: 40%;
	z-index: 9999;

	transition: all 0.35s ease;
}
#slide_arrow_left:hover, #slide_arrow_right:hover
{
	color: #f6f3f3;
	cursor: pointer;
	text-shadow: 1px 1px 10px #bababa;
}
#slide_arrow_left
{
	left: 12%;
}
#slide_arrow_right
{
	right: 12%;
}
#row_our_work_content_slider_img_fg
{
	display: block;
	height: 100%
}
#row_our_work_content_slider_img_bg
{
	display: none;
	height: 100%
}
/*.slider_left, .slider_right
{
	opacity: .8;
	width: 25%;
	height: 180px;
	position: absolute;
	transition: all 1s ease;
}
.slider_left
{
	left: 0;
	top: 25%;
	transition: all 1s ease;
}
.slider_right
{
	right: 0;
	top: 25%;
	transition: all 1s ease;
}
.slider_center
{
	right: 27.5%;
	width: 45%;
	height: 350px;
	position: absolute;
	transition: all 1s ease;
}
#row_our_work_content_slider_img_left:hover, #row_our_work_content_slider_img_right:hover
{
	cursor: pointer;
}*/
.row_our_work_content
{
	position: relative;
	/*overflow: hidden;*/
	text-align: center;
}
.row_our_work_content img
{
	/*width: 260px;*/
	width: 100%;
	height: 150px;
	max-width: 260px;
	transition: all .2s cubic-bezier(.65,-0.89,.15,1.84);
	box-shadow: 0px 2px 5px #837e7e;
}
.row_our_work_content:hover img
{
	transform: scale(1.05);
	cursor: pointer;
	box-shadow: 0px 2px 5px #837e7e;
	/*filter: blur(1px);*/

}
.row_our_work_content_label
{
	color: #fff;
	position: absolute;
	top: 37%;
	left: 17%;
	font-size: 14px;
	transform-origin: 50% 50%;
	transition: all .1s ease;
	background-color: #3e3c3c99;
	padding: 10px;
	border: 2px solid #fff;
	width: 65%;
	z-index: 2;
	text-align: center;
	margin: 0 auto;
}
.row_our_work_content_label:hover
{
	/*background-color: #000;*/
	cursor: pointer;
}

/*Progress*/
#row_progress_container
{
	width: 100%;
	background-color: #cb3526;
	margin: 20px auto;
}
#row_progress_container .fa
{
	color: #FFF;
	font-size: 50px;
}
.row_progress_content
{
	text-align: center;
	color: #FFF;
}

/*The team*/
.row_team_content
{
	text-align: center;
}
.row_team_content img
{
	width: 340px;
	height: 270px;
	/*max-width: 320px;*/
	overflow: hidden;
	position: relative;
	transition: all .5s linear;
}
.row_team_content_img_container
{
	position: relative;
	max-width: 300px;
	overflow: hidden;
	transition: all 1s linear;
	margin: 0 auto;
}

.row_team_content_img_container:hover img
{
	transform: scale(1.1);
	cursor: pointer;
}
.row_team_content_social
{
	list-style: none;
	position: absolute;
	width: 100%;
	z-index: 1;
	bottom: -15%;
	padding: 5px;
	background-color: #cb3526;
	margin-bottom: 0;
	transition: all .2s cubic-bezier(.77,0,.18,1);
}
.row_team_content_img_container:hover .row_team_content_social
{
	bottom: 0;
}
.row_team_content_social li
{
	display: inline;
	padding: 15px;
}
.row_team_content_social .fa
{
	color: #FFF;
}
.row_team_content_social .fa:hover
{
	text-shadow: 0px 0px 10px #FFF;
}
.row_team_content_name
{
	position: relative;
}
.row_team_content_quote
{
	display: none;
}

/*Why Us*/
#row_why_us_video_embed
{
	width: 100%; background-color: #484848;
}
#row_why_us_list
{
	width: 85%;
	list-style: disc;
}
#row_why_us_list li
{
	margin: 5px 0 10px 30px;
	color: #d03f38;
}
#row_why_us_list li p
{
	color: #000;
}
#row_why_us_list li::before
{

	color: #d03f38;
}

/*Contact Us*/
#row_contact_us
{
	text-align: center;
}
.row .row_contact_us_form
{
	text-align: left;
	width: 100%; 
}
.row_contact_us_form label
{
	font-family: "Roboto Condensed", sans-serif;
	font-weight: normal;
	font-size: 12px;
}
.row_contact_us_form_input
{
	padding: 10px;
	border: 1px solid #aaa2a2;
	width: 100%;
}

/*Map*/
#row_map
{
	width: 100%;
	background-color: #e3e3e3;
	height: 400px;
}

/*Footer*/
#row_footer
{
	background-color: #222222;
	width: 100%;
	text-align: center;
	color: #FFF;
}
#row_footer_social
{
	color: #FFF;
	list-style: none;
	margin-top: 15px;
}
#row_footer_social li
{
	display: inline;
	padding: 10px;
	/*border-radius: 10px;
	border: 3px solid #FFF;*/
}
#row_footer_social span
{
	vertical-align: middle;
}
#row_footer_social .fa
{
	color: #FFF;
	font-size: 40px;
}
#row_footer_social .fa:hover
{
	text-shadow: 0px 0px 5px #fff;
}

/*Modal*/
#modal_body_img
{
	width: 100%;
}
.modal-content
{
	background-color: #484848;
	color: #FFF;
}
.modal_body_team_text
{
	margin-top: 10px;
	font-style: italic;
}
.modal_body_team_social
{
	list-style: none;
	position: relative;
	width: 70%;
	z-index: 1;
	bottom: -15%;
	padding: 5px;
	background-color: #1a1a1a66;
	margin: 0 auto;
	text-align: center;
	/*transition: all .2s cubic-bezier(.77,0,.18,1);*/
}
.modal_body_team_social li
{
	display: inline;
	color: #FFF;
	padding: 15px;
}
.modal_body_team_social a
{
	color: #fff;
}
.modal_body_team_social a:hover
{
	text-shadow: 0 1px 5px #FFF;
}
.modal-footer
{
	text-align: center;
}

/*Popup*/
#page_popup, #email_popup
{
	width: 20%;
	background-color: #0a9e26;
	color: #fff;
	font-size: 18px;
	font-family: "Roboto Condensed";
	box-shadow: 0px 1px 5px #000;
	padding: 5px;
	text-align: center;
	display: block;
	bottom: 0;
	z-index: 99999;
	margin: 10px auto;
	/*transition: all 1.5s ease;*/
	display: block;
}
#page_popup
{
	position: fixed;
	width: 100%;
	margin: 0 auto;
	bottom: -60px;
	transition: all .5s ease;
}


/*Responsive stylings*/
@media screen and (max-width: 1000px)
{
	#page_nav ul
	{
		margin-right: 0;
	}
	#page_logo
	{
		margin-left: 0;
	}
	.row
	{
		width: 95%;
	}
	#row_our_services
	{
		width: 90%;
	}
}
@media screen and (max-width: 768px)
{
	#btn_nav
	{
		display: block;
	}
	#page_logo
	{
		/*width: 100%;*/
		/*margin-bottom: 30px;*/
		float: left;
	}
	#page_nav
	{
		background-color: #484848;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 40%;
		box-shadow: 0px 5px 5px rgba(0,0,0, .5);
		display: none;
		top: 100%;
	}
	#page_nav ul
	{
		width: 100%;
	}
	#page_nav ul li
	{
		display: block;
		padding: 10px;
	}
	#page_nav ul li:hover
	{
		background-color: #fff;
		color: #000;
	}
	.row
	{
		width: 100%;
	}
	.modal_body_team_social
	{
		width: 100%;
	}
}